/* styles.css */
.text-gradient {
  /* background: linear-gradient(90deg, #4f46e5, #3b82f6); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-white {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.border-b {
  border-bottom: 1px solid #e5e7eb;
}
body {
  font-family: "Roboto", sans-serif;
}

input[type="file"] {
  cursor: pointer;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  /* transform: translateY(-2px); */
}

.bg-gray-100 {
  background-color: rgba(255, 255, 255, 0.9);
}

.shadow-md {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.bg-gradient-to-r {
  /* background: linear-gradient(to right, #3b82f6, #9333ea); */
}

.text-gradient {
  background: linear-gradient(to right, #6ee7b7, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  /* No longer needed if you use Tailwind for layout */
}

.header-logo img {
  width: auto; /* This might still be needed if you have specific requirements */
  height: 40px; /* Adjust if needed */
  margin-left: 10px; /* Tailwind's margin can handle this */
}

.arrow {
  margin: 0 auto;
}

.confirmation-message {
  background: linear-gradient(to right, #f0f9ff, #e0f2fe);
  padding: 20px;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
